@inject NavigationManager NavManager
<div class="navbar-header">
    <NavLink Match="NavLinkMatch.All" class="navbar-brand text-dark" href="" @onclick="IndexNavigation">
        <img style="display:inline" class="header-image" src="https://cdn.pngsumo.com/art-artist-brush-drawing-paint-paintbrush-painting-icon-brush-drawing-png-512_512.png" />
        <div style="display:inline">
            <table style="display:inline">
                <tr>
                    <th class="big-header">GroupPaint</th>
                </tr>
                <tr>
                    <th class="small-header">Online</th>
                </tr>

            </table>

        </div>

    </NavLink>

</div>
<li><NavLink class="navbar-clicks" href="/about">About</NavLink></li>
<li><NavLink class="navbar-clicks" href="/roomslist" @onclick="RoomsListNavigation">Rooms</NavLink></li>
<li><NavLink class="navbar-clicks" href="/paintingsList">Paintings</NavLink></li>


@code{
    void RoomsListNavigation()
    {
        NavManager.NavigateTo("/roomslist",true);
    }
    void IndexNavigation()
    {
        NavManager.NavigateTo("/", true);
    }
}

