@page "/paintingsList"

<div class="d-flex justify-content-center mb-3 align-items-stretch" style="width:100%">
    <div class="p-2"><h1>MY PAINTINGS</h1></div>
</div>


<div><a href="/createroom">Create New</a></div>

<div class="d-flex justify-content-center align-items-center text-center" style="width:100%">
    <table style="margin:0 70px;" class="table">
        <thead>
            <tr>
                <th>Painting Name</th>
                <th>Date</th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding: 50px 50px; background-size: cover; background-image: url('https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/133754151/original/ffe7c3ea088fa00ad8bb3eec32d9c2314c3229f5/draw-whatever-picture-you-submit-so-bad-its-good.png')"><mark style="font-size:20px; background-color:coral; opacity:0.8;">Painting a Dog</mark></td>
                <td style="padding:50px 50px;">10/9/2021</td>
                <td style="padding:50px 50px;"><span class="auth-container"><a class="auth-btn" href="">Edit</a></span></td>
                <td style="padding:50px 50px;"><span class="auth-container"><a class="auth-btn" href="">View</a></span></td>
                <td style="padding:50px 50px;"><span class="auth-container"><a class="auth-btn" href="">Download</a></span></td>
            </tr>
            <tr>
                <td style="padding: 50px 50px;background-size:cover; background-image: url('https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/124024891/original/8e3a758d159e0848353b80dbaec007b0560d11fd/draw-shitty-paint-art-of-you.png')"><mark style="font-size: 20px; background-color: coral; opacity: 0.8;">Painting a Cat</mark></td>
                <td style="padding:50px 50px;">7/9/2021</td>
                <td style="padding:50px 50px;"><span class="auth-container"><a class="auth-btn" href="">Edit</a></span></td>
                <td style="padding:50px 50px;"><span class="auth-container"><a class="auth-btn" href="">View</a></span></td>
                <td style="padding:50px 50px;"><span class="auth-container"><a class="auth-btn" href="">Download</a></span></td>
            </tr>
        </tbody>
    </table>
</div>



