@page "/about"
<section id="about">
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-12 about-title">ABOUT US</h1>
        </div>
    </div>
    <div>
        <div class="row" style="margin-left:5%; margin-right:5%;">
            <div class="col col-6" style="margin-top: 2%;">
                <img style="width:100%; height:70%" src="/images/ezgif.com-gif-maker.gif" />
            </div>
            <div style="width: 100%; height: 30%; margin-top:4.5%" class="col col-6">
                <h1>Group Paint</h1>
                <h1>Online</h1>
                <div style="width:80%; font-size:25px; color:rgba(0,0,0,0.5)">
                    Group Paint Online is a global website to develop the idea of real-time planning and drawing with different kinds of features to use and manipulate.
                </div>
            </div>
        </div>
    </div>
</section>
