@inject NavigationManager NavManager
@inject HttpClient httpClient
<div class="navbar-header">
    <NavLink Match="NavLinkMatch.All" class="navbar-brand text-dark" href="" @onclick="IndexNavigation">
        <img style="display:inline" class="header-image" src="https://cdn.pngsumo.com/art-artist-brush-drawing-paint-paintbrush-painting-icon-brush-drawing-png-512_512.png" />
        <div style="display:inline">
            <table style="display:inline">
                <tr>
                    <th class="big-header">GroupPaint</th>
                </tr>
                <tr>
                    <th class="small-header">Online</th>
                </tr>

            </table>

        </div>

    </NavLink>

</div>
<AuthorizeView>
    <Authorized>
        <li><NavLink class="navbar-clicks" href="/about" @onclick="AboutNavigation">About</NavLink></li>
        <li><NavLink class="navbar-clicks" href="/roomslist" @onclick="RoomsListNavigation">Rooms</NavLink></li>
        <li><NavLink class="navbar-clicks" href="/paintingsList" @onclick="PaintingsListNavigation">Paintings</NavLink></li>
    </Authorized>
    <NotAuthorized>
        <li><NavLink class="navbar-clicks" href="/about">About</NavLink></li>
        <li><NavLink class="navbar-clicks" href="/roomslist" @onclick="RoomsListNavigation">Rooms</NavLink></li>
    </NotAuthorized>
</AuthorizeView>


@code{
    void RoomsListNavigation()
    {
        NavManager.NavigateTo("/roomslist", true);
    }
    void IndexNavigation()
    {
        NavManager.NavigateTo("/", true);
    }
    void PaintingsListNavigation()
    {
        NavManager.NavigateTo("/paintingsList", true);
    }
    void AboutNavigation()
    {
        NavManager.NavigateTo("/about", true);

    }
}

